/* 
  Author: Connor Kippes

  General CSS for all pages.
*/

/* import for roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap");

/* Colors- calm, earthly, modern, creativity*/
:root {
    --footer-bg-color: rgb(240, 240, 240);
    --main-bg-color: white;                 /* white background to not take away from art and for a clean, modern look */
    --text-color: rgb(100, 100, 100);       /* medium gray for text to not be easy to read and not harsh on the eyes */
    --accent-color: #5EAAA8;                /* Teal - calm, creative, modern */      /* Alternate Color: #8FAE92; /* Sage Green*/

    /* old theme- blue, green */
    /*
    --nav-bg-color: #154851;
    --main-bg-color: #237a85; 
    --text-color: #e0ffd6;
    --header-color: #baf8a0;
    */

    --ff: "Roboto";
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/45px var(--ff);
    --h3: 21px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --button-text: 24px/24px var(--ff);
    --subtext: 13.5px/20px var(--ff);
}

/*-------DEBUGGING--------*/

/*
* {
  outline: 1px solid red;
}
*/

/*-------GENERAL--------*/
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--ff);
    font-weight: 300;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
}

main {
    margin: 125px auto;
    max-width: 1080px;
    width: 100%;
    flex: 1;
}

.flex-space-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-space-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.center-elem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-non-block {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.hover-shadow {
    transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/*------TEXT-STUFF---*/

h1 {
    font: var(--h1);
    color: var(--accent-color);
}
h2 {
    font: var(--h2);
    color: var(--accent-color);
}
h3 {
    font: var(--h3);
    color: var(--text-color);
}
p {
    font: var(--p);
    color: var(--text-color);
}
.subtext {
    font: var(--subtext);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*---OTHER THINGS----*/
button {
    margin-bottom: 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    width: 275px;
    height: 50px;
    max-width: 100%;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font: var(--button-text);
    text-align: center;
}

.top-button {
    margin: 20px;
}

img {
    border-radius: 8px;
    max-width: 100%;
}
.spacer {
    height: 15px;
}
/* -----------NAV BAR----------- */
nav {
    position: fixed;
    z-index: 4;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    background-color: var(--main-bg-color);
    font-size: 25px;
    opacity: 90%;
}
#nav-container {
    margin:0px;
    padding:0px;
}

.nav-item {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

/* -----------FOOTER----------- */
footer {
    z-index: 3;
    min-height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding-top:20px;
    background-color: var(--footer-bg-color);
    text-align: center;
}

#footer-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-logo {
    fill: var(--accent-color);
    width: 25px;
    height: 25px;
}

.contact-logo:hover {
    scale: 1.15;
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--text-color);
    width: 255px;
}
#small-divider {
    height: 0.5px;
}

.contact-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#copyright {
    margin-top: auto;
}

/* -----------OBSERVER STUFF---------*/
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.85s ease-in, transform 0.85s ease-in;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----STUFF I COULD ADD------*/

/* this makes the viewbox snap to the next section */
/*
html {
    scroll-snap-type: y mandatory;
}

.section {
    margin: 150px auto 0px auto;
    padding: 0 2vw;
    max-width: 1080px;
    height: 100vh;
    /*scroll-snap-align:start;
}
*/