/* 
  Author: Connor Kippes

  General CSS for all pages.

  color scheme-

  dark-blue:      #154851
  medium-blue:    #237A85
  dark-green:     #7afd42
  medium-green:   #baf8a0
  light-green:    #E0FFD6

  calm, colorful, nature, flow
*/


/* import for roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');




/* -----------NAV BAR----------- */
#nav-bar {
  position: fixed;
  top: 0px;
  z-index: 3;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  background-color: #154851;
  font-size: 25px;
}

.nav-item {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

a {
  color: #E0FFD6;
  text-decoration: none;
}



/* -----------FOOTER----------- */
#footer {
  bottom:0px;
  z-index: 3;
  height: 400px;
  width: 100%;
  background-color: #154851;
}





/* -----------GENERAL STUFF----------- */
.dark-green {
  color: #75fa3b;
}

b {
  font-weight: 700;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 2vw;
}


body {
  margin: 0;
  padding: 0;
  background-color: #237A85;
  font-family: 'Roboto';
  font-weight:300;
}
.section {
  position: relative;
  top: 80px;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 2vw;
  color: #E0FFD6;
}

/* vertical spacer */
.spacer {
  height: 200px;
}

.title {
  color: #baf8a0;
  font-size: 3em;
}
.subtitle {
  color: #baf8a0;
  font-size: 25px;
  font-weight: bold;
}

input[type="text"] {
  color: #154851;
}


.flex-container-center {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.center-elem {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.side-margins {
  margin-left: 10%;
  margin-right: 10%;
}

.center-non-block {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}
.no-wrap {
  white-space: nowrap;
}

.flex-container-space-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-container-space-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  margin-bottom: 60px;
  border: none;
  border-radius: 15px;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.3);
  width: 275px;
  height: 50px;
  background-color: #baf8a0;
  color: #154851;
  font-size: 25px;
}

.top-button {
  margin: 20px;
}

.hover-shadow {
  transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
  box-shadow: 14px 14px 22px rgba(0, 0, 0, 0.3);
}

p {
  margin-left: 7%;
  margin-right: 7%;
  line-height: 1.8;
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

/* -----------OBSERVER STUFF---------*/
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .85s ease-out, transform .85s ease-out;
}


.show {
  opacity: 1;
  transform: translateY(0);
}