/* 
  Author: Connor Kippes

  General CSS for all pages.
*/

/* import for roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap");

/* going for a clean, calming, nature theme */
:root {
    --nav-bg-color: #154851;
    --main-bg-color: #164b60;
    --light-green: #e0ffd6;
    --green: #baf8a0;
    --dark-green:#60fc1d;
    --ff: "Roboto";
    /*--h1: bold max(36px, 4vw) / max(48px, 5vw) var(--ff);*/
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/45px var(--ff);
    --h3: 22px/32px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: transform 0.3 ease;
}

/*-------GENERAL--------*/
body {
    margin: 0;
    padding: 0;
    background-color: #237a85;
    color: var(--light-green);
    font-family: "Roboto";
    font-weight: 300;
    overflow-x: hidden;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 150px auto;
    max-width: 1080px;
    flex: 1;
}

.flex-space-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-space-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.center-elem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-non-block {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.hover-shadow {
    transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 14px 14px 22px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.dark-green {
    color:var(--dark-green);
}

/*------TEXT-STUFF---*/

h1 {
    font: var(--h1);
    color: var(--green);
}
h2 {
    font: var(--h2);
    color: var(--green);
}
h3 {
    font: var(--h3);
    color: var(--light-green);
}
p {
    font: var(--p);
    color: var(--light-green);
}
label {
    font: var(--h3);
    color: var(--light-green);
}
input[type="text"] {
    color: var(--nav-bg-color);
}

a {
    color: var(--light-green);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/*---OTHER THINGS----*/
.button {
    margin-bottom: 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.3);
    width: 275px;
    height: 50px;
    background-color: var(--green);
    color: #154851;
    font-size: 25px;
}

.top-button {
    margin: 20px;
}

img {
    border-radius: 8px;
}



/* -----------NAV BAR----------- */
nav {
    position: fixed;
    top: 0px;
    z-index: 4;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    background-color: var(--nav-bg-color);
    font-size: 25px;
}

.nav-item {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

/* -----------FOOTER----------- */
footer {
    bottom: 0px;
    z-index: 3;
    height: 350px;
    width: 100%;
    padding: 20px;
    background-color: var(--nav-bg-color);
    text-align: center;
}

.contact-logo {
    fill: var(--green);
    width: 25px;
    height: 25px;
}

.contact-logo:hover {
    scale: 1.15;
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--green);
    width: 240px;
}

.contact-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* -----------OBSERVER STUFF---------*/
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.85s ease-in, transform 0.85s ease-in;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-----STUFF I COULD ADD------*/

/* this makes the viewbox snap to the next section */
/*
html {
    scroll-snap-type: y mandatory;
}

.section {
    margin: 150px auto 0px auto;
    padding: 0 2vw;
    max-width: 1080px;
    height: 100vh;
    /*scroll-snap-align:start;
}
*/

/* vertical spacer */
/*
.spacer {
    height: 100px;
}
*/