/* 
    Author: Connor Kippes

    CSS for the gallery and profile page (profile uses the same).
*/

.gallery-painting {
    max-height: 200px;
    max-width: 200px;
    transition: transform 0.4s ease;
}
.gallery-painting:hover {
    transform: scale(1.075);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 35px;
    column-gap: 35px;
}

#gallery-entry {
    display: grid;
}

#gallery-img {
    justify-self: center;
    align-self: center;
    margin-bottom: 15px;
}

#gallery-text {
    justify-self: center;
    align-self: end;
}
