/* 
    Author: Connor Kippes

    CSS for the index page.
*/

#title-logo {
    width:1080px;
    height:250px;
    max-width: 1080px;
    background-color: var(--accent-color);
    -webkit-mask: url('/images/title-logo.svg') no-repeat center;
    mask: url('/images/title-logo.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.top-margin {
    margin-top: 80px;
}

.rainbow-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 50px;
    perspective: 1000px;
    transition: transform 0.4s ease;
}
.rainbow-gallery:hover {
    transform: translateY(-10px); /* Arc lifts slightly */
}

.rainbow-gallery-painting {
    margin: 0px 20px;
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#rainbow-gallery-painting1 {
    transform: rotate(-20deg) translateY(20px);
}
#rainbow-gallery-painting1:hover {
    transform: scale(1.25);
}

#rainbow-gallery-painting2 {
    transform: rotate(-10deg) translateY(10px);
}
#rainbow-gallery-painting2:hover {
    transform: scale(1.25);
}

#rainbow-gallery-painting3 {
    transform: rotate(0deg) translateY(0px);
}
#rainbow-gallery-painting3:hover {
    transform: scale(1.25);
}

#rainbow-gallery-painting4 {
    transform: rotate(10deg) translateY(10px);
}
#rainbow-gallery-painting4:hover {
    transform: scale(1.25);
}

#rainbow-gallery-painting5 {
    transform: rotate(20deg) translateY(20px);
}
#rainbow-gallery-painting5:hover {
    transform: scale(1.25);
}
