/* 
    Author: Connor Kippes

    CSS for the login page.
*/

#login-title {
    margin-bottom: 0px;
}

.some-input {
    margin-left: 20px;
    margin-bottom: 30px;
    width: 200px;
    height: 30px;
    font-size: 20px;
}

label {
    font: var(--h3);
    color: var(--text-color);
}
input[type="text"] {
    color: var(--nav-bg-color);
}
#invalid-text {
    color:red;
    font-weight:bold;
}