/* 
  Author: Connor Kippes

  CSS for the detailed view of a painting.
*/

#painting-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

#big-painting {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#big-painting-container {
    height: 500px;
    width: 500px;
    overflow: hidden;
}

#big-painting-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mini-painting-container {
    display: inline-block;
    height: 90px;
    width: 90px;
    overflow: hidden;
    cursor: pointer;
}

.mini-painting-container:hover {
    opacity: 0.75;
    transition: opacity 0.1s ease;
}

.mini-painting-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mini-paintings {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

#heart {
    width: 40px;
    height: 40px;
    fill: rgb(75, 75, 75);
    transition: transform 0.2s ease;
}

img {
    border-radius: 0;
}

#right-of-painting-container {
    min-height: 80vh;
}

#title-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#details-container {
    display: flex;
    gap: 0rem;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.display-none {
    display: none;
}

.top-padding {
    padding-top: 2rem;
}

h3 {
    padding: 0;
    margin: 0;
}
