/* Connor Kippes
CSS for all the pages
*/

/* -----------OVERALL----------- */

body {
  background-color: #fffbe6 /*#f4f0e0/*#ebe8e2 /*#f5f5f5 /*#f4f0e0 /*#f2f0ef*/;
  /*overflow-x: hidden;*/
}
.section {
  position: relative;
  top: 80px;
  left: 0px;
  z-index: 1;
  overflow: auto;
  color: #585953;
}

.title {
  font-size: 3em;
  font-weight: bold;
}
.subtitle {
  font-size: 25px;
  font-weight: bold;
}

.flex-container-center {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.center-elem {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.side-margins {
  margin-left: 10%;
  margin-right: 10%;
}

.center-non-block {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}
.no-wrap {
  white-space: nowrap;
}

.some-button {
  font-size: 25px;
  width: 275px;
  height: 50px;
  color: #ffffff;
  background-color: #585953;
  border-radius: 15px;
  border: none;
}

.sepia-filter {
  filter: sepia(1) brightness(0.35) contrast(1);
}
p {
  margin-left: 7%;
  margin-right: 7%;
  line-height: 1.8;
  font-size: 25px;
}
h2 {
  font-size: 25px;
}
.blue {
  color: rgb(17, 178, 184);
}

/* -----------OBSERVER STUFF---------*/
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .85s ease-out, transform .85s ease-out;
}


.show {
  opacity: 1;
  transform: translateY(0);
}

/* -----------MENU SECTION----------- */
#menu-section {
  min-height: 50px;
  min-width: 100%;
  background-color: #fff3bb;
  font-size: 25px;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  padding-top: 10px;
}
#menu-table {
  margin-left: auto;
  margin-right: auto;
}
.menu {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
a {
  /* remove underline and color */
  text-decoration: none;
  color: #585953;
}

/* ----------------------HOME---------------------- */
#logo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

/* ----------------------PROFILE---------------------- */

#your-likes {
  width: 80%;
  overflow-x: scroll;
  display: block;
}

.painting-image {
  height: 150px;
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
}
.painting-title {
  text-align: center;
  font-size: 15px;
}
.list-cell {
  width: 200px;
}

/* ----------------------GALLERY---------------------- */

.gallery-image {
  max-height: 200px;
  max-width: 200px;
  margin-left: 25px;
  margin-right: 25px;
}
.gallery-title {
  text-align: center;
  font-size: 20px;
}
.gallery-cell {
  width: 250px;
}

.gallery-image-container {
  height: 200px;
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
  overflow: hidden;
}

.selected-image-container {
  height: 500px;
  width: 500px;
  margin-top: 30px;
  overflow: hidden;
}

.selected-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mini-image-container {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin-top: 20px;
  margin-right: 7px;
  overflow: hidden;
}

.mini-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#selected-title {
  margin-left: 0px;
  margin-top: 0px;
  white-space: nowrap;
  font-size: 40px;
  color: #585953;
}
#selected-description {
  margin-top: 0px;
  margin-left: 0px;
  white-space: nowrap;
  font-size: 25px;
  font-weight: normal;
  color: #585953;
}

#heart {
  width: 40px;
  filter: grayscale(100%);
}

/* ----------------------ABOUT---------------------- */

/* ----------------------CONTACT---------------------- */
#contact-images {
  display: flex;
  justify-content: space-evenly;
}
.contact-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ----------------------HELP---------------------- */

/* ----------------------LOGIN---------------------- */
#all-login-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form-stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.some-input {
  font-size: 20px;
  width: 200px;
  height: 30px;
  margin: 20px;
  margin-top: 10px;
}

#invalid-login-text {
  color: red;
}

#invalid-signup-text {
  color: red;
}
