/* 
  Author: Connor Kippes

  CSS for the about page.
*/

#about-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-image {
    max-height: 21.875rem;
    flex: 1;
    min-height: 0;
    object-fit: contain;
    padding: 0 1rem;
}

#about-description {
    padding: 0 1rem;
}
