/* 
    Author: Connor Kippes

    CSS for the gallery and profile page (profile uses the same).
*/

.gallery-painting {
    max-height: 12.5rem;
    max-width: 12.5rem;
    transition: transform 0.4s ease;
}
.gallery-painting:hover {
    transform: scale(1.075);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 2.1875rem;
    column-gap: 2.1875rem;
}

#gallery-entry {
    display: grid;
}

#gallery-img {
    justify-self: center;
    align-self: center;
    margin-bottom: 0.9375rem;
}

#gallery-text {
    justify-self: center;
    align-self: end;
}

.add-painting-text {
    color:red;
    text-align:end;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }

    .gallery-painting {
        max-height: 10rem;
        max-width: 10rem;
    }
}
